<h2>Poloniex</h2>
<div class="loader loader-double is-active" *ngIf="downloaded == false"></div>
<h3>Summary</h3>
<p>In the last 24 hours the coins that changed the most were:</p>
<h4 style="text-align:center">BEST</h4>
<div class="card">
          <ul class="collection">
              <li class="collection-item" >Trade: {{ Best.name }}</li>
              <li class="collection-item" style="color:green!important">Change: {{ aprox(Best.change*100) }}%</li>
              <li class="collection-item">Volume: {{ Best.vol }}</li>
          </ul>
        </div>
          <h4 style="text-align:center">WORSE</h4>
          <div class="card">
          <ul class="collection">
              <li class="collection-item">Trade: {{ Worse.name }}</li>
              <li class="collection-item" style="color:red!important">Change: {{ aprox(Worse.change*100) }}%</li>
              <li class="collection-item">Volume: {{ Worse.vol }}</li>
          </ul>
  </div>

<table class="responsive-table highlight bordered">
  <tr>
    <th>Trade</th>
    <th>High</th> 
    <th>Low</th>
    <th>Vol</th>
    <th>Last</th>
    <th>Buy</th>
    <th>Sell</th>
    <th>Change</th>
  </tr>
  <tr *ngFor="let poloniex of PoloniexData">
    <td>{{ poloniex.name }}</td>
    <td>{{ poloniex.high24hr }}</td>
    <td>{{ poloniex.low24hr }}</td>
    <td>{{ poloniex.baseVolume }}</td>
    <td>{{ poloniex.last }}</td>
    <td>{{ poloniex.highestBid }}</td>
    <td>{{ poloniex.lowestAsk }}</td>
    <td>
      <div *ngIf="verify(poloniex.percentChange)" style="color:green">{{ aprox(poloniex.percentChange*100) }}%</div>
      <div *ngIf="!verify(poloniex.percentChange)" style="color:red">{{ aprox(poloniex.percentChange*100) }}%</div>
    </td>

  </tr>
</table>
