<h2>Ticker (24h)</h2>
<div class="loader loader-double is-active" *ngIf="!mercadobitcoinD&&flowbtcD&&negociecoinsD&&bitcointradeD&&bitcointoyouD"></div>
<table class="responsive-table highlight bordered">
  <tr>
    <th>Exchange</th>
    <th>High</th> 
    <th>Low</th>
    <th>Vol</th>
    <th>Last</th>
    <th>Buy</th>
    <th>Sell</th>
  </tr>
  <tr *ngFor="let brazil of BrazilData">
    <td>{{ brazil.name }}</td>
    <td>{{ brazil.high }}</td>
    <td>{{ brazil.low }}</td>
    <td>{{ brazil.vol }}</td>
    <td>{{ brazil.last }}</td>
    <td>{{ brazil.buy }}</td>
    <td>{{ brazil.sell }}</td>
  </tr>
</table>

<h2>Volume (24h)</h2>
<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"></canvas>
</div>