<header>
  <div class="navbar-fixed">
      <nav>
          <div class="nav-wrapper"> <a routerLink="" class="brand-logo">Logo</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a routerLink="" (click)="hide()">Home</a></li>
                <li><a routerLink="international" (click)="hide()">International Exchanges</a></li>
                <li><a routerLink="brazilian" (click)="hide()">Brazilian Exchanges</a></li>
              </ul>
          </div>
      </nav>
  </div>
 <!-- Move the sidenav outside of .navbar-fixed -->
  <ul class="side-nav" id="mobile-demo">
    <li><a routerLink="" (click)="hide()">Home</a></li>
    <li><a routerLink="international" (click)="hide()">International Exchanges</a></li>
    <li><a routerLink="brazilian" (click)="hide()">Brazilian Exchanges</a></li>
  </ul>
</header>


<div class="container">
    <router-outlet></router-outlet>
</div>

<script>
    $( document ).ready(function(){
      $(".button-collapse").sideNav('show');
    })
</script>