<h2>How it works?</h2>
<p>The application consumes data coming from the public APIs of the exchanges on an object and makes the data available for viewing. Such as transaction volume, price and change in the market.</p>

<h2>What APIs were used?</h2>
<ul class="collection">
    <li class="collection-item">Poloniex</li>
    <li class="collection-item">NegocieCoins</li>
    <li class="collection-item">BitcoinToYou</li>
    <li class="collection-item">FlowBTC</li>
    <li class="collection-item">MercadoBitcoin</li>
    <li class="collection-item">Bitcointrade</li>
</ul>